<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">Dub or Sub</a></h2>
        <nav>
            <a href="#">Log In</a>
        </nav>
    </header>
    <main>
        <h3>Log in page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequatur voluptatum in ea! Corrupti id ipsam ea sed, quibusdam mollitia earum illo voluptatum eos vitae animi, dolorum cumque obcaecati aspernatur.</p>
    </main>
    <footer>
        <small>&copy; Dub or Sub</small>
    </footer>
</body>
</html>